.container
  .right#triangle-topright
  %h1.center-align My Resume
  .row
    .col.l2.center-align
      %h4 Profile
    .col.l10
      %p#tab Goal-oriented Web Developer dedicated to working hard and meeting aggressive deadlines with the proper planning. Hard working generalist who loves to learn, and who also strives for greatness both in and outside of work.
  .row
    .col.l2.center-align
      %h4 Skills
    .col.l5
      %p Ruby on Rails
      %br
      %p Critial Thinker
    .col.l5.offset.l2
      %p ReactJS
    .col.l5
      %p Complex Problem Solver
    .col.l5.offset.l8
      %p ReactJS
    .col.l5
      %p Complex Problem Solver
      
