-# .container
-#   %h1.center-align Welcome to Cats_on_Peaks
-#   %p This site is about showcasing my coding skills and also my adventures (mostly sking). I have moved out from Long Island, New York to SLC back in 2009, and have loved every minute of it.  I met my wife out here and have been traveling and have adventures ever since.  Thanks for checking out the site.

%script
  $(document).ready(function(){$('.parallax').parallax();});
-# .parallax-container {
-# height: 300;
-# }
.parallax-container
  Cats_on_peaks
  .parallax
    %img{:src => "assets/akSpine.JPG"}/
.section.pink
  .row.container
    %h2.header.center-align Welcome to Cats_on_Peaks
    %p.grey-text.text-darken-3.lighten-3 This site is about showcasing my coding skills and also my adventures (mostly sking). I have moved out from Long Island, New York to SLC back in 2009, and have loved every minute of it.  I met my wife out here and have been traveling and have adventures ever since.  Thanks for checking out the site.
.parallax-container
  Cats_on_peaks
  .parallax
    %img{:src => "assets/sunflower.JPG"}/
.section.purple
  .row.container
    %h2.header.center-align MySongIs
    %p.grey-text.text-darken-3.lighten-3 A social website based around music that defines you.
.parallax-container
  Cats_on_peaks
  .parallax
    %img{:src => "assets/mineralAround.JPG"}/
.section.blue.darken-3
  .row.container
    %h2.header.center-align
      = link_to "journal#index", Adventure
    %p.grey-text.text-darken-3.lighten-3 This will bring you to a link of my splitboard/adventure journal from what i can rememebr, along with help from my friends as well.
