.container
  .row
    %h1.center.l7.text.red #{@entry.title}
  .row
    .col.l6.center Date: #{@entry.date}
    .col.l6.center Partners: #{@entry.partners}
  %hr
  %p.tab #{@entry.story}
  %hr
  %h3.center Images
  %a{:href => '../dashboard/index'} Back
