/* 
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */

/* clearfix */

.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
	
.owl-carousel .owl-item{
	float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/


.owl-theme .owl-controls{
	margin-top: 10px;
	text-align: center;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{
	color: #FFF;
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
	margin: 5px;
	padding: 3px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background: #869791;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #869791;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center
}
/*


*/
/* line 8, /Users/DreamMachine/Desktop/skijournal/app/assets/stylesheets/dashboard.css.scss */
body {
  background: url(https://s3-us-west-2.amazonaws.com/entrypics/gnarleyS.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 18, /Users/DreamMachine/Desktop/skijournal/app/assets/stylesheets/dashboard.css.scss */
h1 {
  color: green;
}

/* line 22, /Users/DreamMachine/Desktop/skijournal/app/assets/stylesheets/dashboard.css.scss */
img {
  border: 2px solid green;
  border-radius: 10px;
}

/* line 27, /Users/DreamMachine/Desktop/skijournal/app/assets/stylesheets/dashboard.css.scss */
#fontsize {
  font-size: 90px;
}

/* line 31, /Users/DreamMachine/Desktop/skijournal/app/assets/stylesheets/dashboard.css.scss */
.textOutline {
  text-shadow: 0 0 4px white,0 0 4px white;
}

/* line 35, /Users/DreamMachine/Desktop/skijournal/app/assets/stylesheets/dashboard.css.scss */
.entry {
  background-color: #ffffff;
  opacity: 0.8;
  border: 2px solid green;
}

/* line 41, /Users/DreamMachine/Desktop/skijournal/app/assets/stylesheets/dashboard.css.scss */
.pad {
  padding-left: 100px;
}

/* line 45, /Users/DreamMachine/Desktop/skijournal/app/assets/stylesheets/dashboard.css.scss */
.smallCaps {
  font-variant: small-caps;
}

/* line 50, /Users/DreamMachine/Desktop/skijournal/app/assets/stylesheets/dashboard.css.scss */
.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 55555;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

/* line 67, /Users/DreamMachine/Desktop/skijournal/app/assets/stylesheets/dashboard.css.scss */
.modalDialog:target {
  opacity: 1;
  background-color: black;
  pointer-events: auto;
}

/* line 74, /Users/DreamMachine/Desktop/skijournal/app/assets/stylesheets/dashboard.css.scss */
.modalDialog > div {
  width: 85%;
  height: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 10px;
  border: 2px solid grey;
  background: url(https://s3-us-west-2.amazonaws.com/entrypics/justinCoreyUpRaymondBGSm.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: auto;
}

/* line 102, /Users/DreamMachine/Desktop/skijournal/app/assets/stylesheets/dashboard.css.scss */
.close {
  background: #606061;
  color: #FFFFFF;
  font-size: 30px;
  position: absolute;
  text-align: center;
  line-height: 65px;
  right: -10px;
  top: -10px;
  width: 56px;
  height: 56px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 27px;
  -moz-border-radius: 27px;
  border-radius: 27px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

/* line 124, /Users/DreamMachine/Desktop/skijournal/app/assets/stylesheets/dashboard.css.scss */
.close:hover {
  background: #00d9ff;
}

/* line 128, /Users/DreamMachine/Desktop/skijournal/app/assets/stylesheets/dashboard.css.scss */
.clearCard {
  background-color: rgba(51, 204, 51, 0.7);
  border-radius: 25px 50px;
  border: 5px solid rgba(102, 102, 102, 0.7);
  color: yellow;
}

/* line 140, /Users/DreamMachine/Desktop/skijournal/app/assets/stylesheets/dashboard.css.scss */
.clearCard:hover {
  background-color: rgba(0, 177, 2, 0.9);
  border: 5px solid rgba(102, 102, 102, 0.9);
}
/* line 143, /Users/DreamMachine/Desktop/skijournal/app/assets/stylesheets/dashboard.css.scss */
.clearCard:hover .button1 {
  background-color: #7CDBD5;
  color: black;
}
/* line 147, /Users/DreamMachine/Desktop/skijournal/app/assets/stylesheets/dashboard.css.scss */
.clearCard:hover .button1:hover {
  background-color: black;
  color: #7CDBD5;
}

/* line 153, /Users/DreamMachine/Desktop/skijournal/app/assets/stylesheets/dashboard.css.scss */
.darkenText {
  font-weight: bold;
  color: black;
}

/* line 160, /Users/DreamMachine/Desktop/skijournal/app/assets/stylesheets/dashboard.css.scss */
.button1 {
  z-index: 25;
  background-color: #F53240;
  color: black;
  border-radius: 8px;
  border: 3px solid #F9BE02;
  padding: 3px 10px;
  margin: 20px;
  color: #F9BE02;
}

/* line 172, /Users/DreamMachine/Desktop/skijournal/app/assets/stylesheets/dashboard.css.scss */
.instaCards {
  background-color: rgba(102, 102, 102, 0.7);
  border: 5px solid rgba(51, 204, 51, 0.7);
  border-radius: 20px;
  color: yellow;
}

/* line 180, /Users/DreamMachine/Desktop/skijournal/app/assets/stylesheets/dashboard.css.scss */
.entryTitle {
  color: #2c2c2c;
  font-size: 40px;
  transform: scale(2, 1.5);
  letter-spacing: .05em;
  text-shadow: 2px 2px 1px #d5d5d5, 4px 4px 0px rgba(0, 0, 0, 0.2);
  -webkit-text-stroke: 1px white;
}

/* line 193, /Users/DreamMachine/Desktop/skijournal/app/assets/stylesheets/dashboard.css.scss */
.instaTitle {
  color: #2c2c2c;
  font-size: 40px;
  transform: scale(2, 1.5);
  letter-spacing: .05em;
  text-shadow: 2px 2px 1px #d5d5d5, 4px 4px 0px rgba(0, 0, 0, 0.2);
  -webkit-text-stroke: 1px white;
}
