@font-face {
  font-family: "Hydrophilia_otf";
  src: url(/assets/Hydrophilia_Liquid.otf) format("truetype");
}
/* line 9, /Users/DreamMachine/Desktop/skijournal/app/assets/stylesheets/entries.css.scss */
body {
  background: url(https://s3-us-west-2.amazonaws.com/entrypics/bwHogumS.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 18, /Users/DreamMachine/Desktop/skijournal/app/assets/stylesheets/entries.css.scss */
h1 {
  font-size: 80px;
  -webkit-text-stroke: 1px black;
  color: white;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/* line 32, /Users/DreamMachine/Desktop/skijournal/app/assets/stylesheets/entries.css.scss */
.center-horizontal {
  display: inline-block;
  position: relative;
  margin: 0 auto;
}

/* line 37, /Users/DreamMachine/Desktop/skijournal/app/assets/stylesheets/entries.css.scss */
img {
  border-radius: 10px;
}

/* line 53, /Users/DreamMachine/Desktop/skijournal/app/assets/stylesheets/entries.css.scss */
.bigTitle {
  font-family: "Hydrophilia_otf";
  margin-top: 25px;
  background-color: rgba(112, 73, 16, 0.5);
  padding: 15px 60px;
  border-style: solid;
  border-radius: 30px;
  border-width: 6px;
  border-color: green;
}

/* line 65, /Users/DreamMachine/Desktop/skijournal/app/assets/stylesheets/entries.css.scss */
.back {
  background-color: black;
  padding: 3px 10px;
  border-radius: 10px;
}

/* line 70, /Users/DreamMachine/Desktop/skijournal/app/assets/stylesheets/entries.css.scss */
.capitalize {
  text-transform: capitalize;
}

/* line 74, /Users/DreamMachine/Desktop/skijournal/app/assets/stylesheets/entries.css.scss */
#showImg {
  display: inline-block;
  float: left;
  margin: 10px auto;
  margin-right: 5px;
  border: 1px;
}
