/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

#imageResize {
  height: 200px;
}

.content {
  min-height: calc(100vh - 200px);
  // min-height: calc(100vh - 120px);
}

#showImg{
  display: inline-block;
  float: left;
  margin-right: 5px;
  margin-bottom: 25px;
  // border-bottom: 100px;
}

// #footer {
// 	background-color: white;
// 	width:100%;
// 	height:100px;
// 	position:absolute;
// 	bottom:0;
// 	left:0;
// }

// .bgcolor {
//   margin-top: -25px;
//   background-image:url(akSpine.JPG);
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
// }

#tab {
  text-indent: 50px;
}

p {
  text-indent: 50px
}

// navbar title
#nav-stroke {
font-size: 60px;
-webkit-text-stroke: 1px black;
color: orange;
text-shadow:
  3px 3px 0 #000,
  /* Simulated effect for Firefox and Opera
     and nice enhancement for WebKit */
 -1px -1px 0 #000,
  1px -1px 0 #000,
 -1px  1px 0 #000,
  1px  1px 0 #000;
}

footer {
  padding-top: 20px
}
@import "materialize";
// @import "magnific-popup"
