/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require owl.carousel
 *= require owl.theme
 *= require magnific-popup
 */
 // @import 'cloudy';

 @font-face {
   font-family: "cloudy";
   src: asset-url('/assets/fonts/cloudy/AlphaClouds.ttf');
  //  src: font-url('public/assets/cloudy/AlphaClouds');
 }

 // navbar title text
#nav-stroke {
  font-family: "cloudy";
  font-size: 60px;
  -webkit-text-stroke: 1px white;
  color: white;
  text-shadow:
    3px 3px 0 #000,
     /* Simulated effect for Firefox and Opera
        and nice enhancement for WebKit */
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

.backgroundColor {
  background-color: rgba(0, 204, 255, .7);
}

.content {
  min-height: calc(100vh - 200px);
  // min-height: calc(100vh - 120px);
}

.whiteText {
  color: white;
}

#tab {
  text-indent: 30px;
}

li{
  size: 30px;
}

.outline {
  font-family: "cloudy";
  -webkit-text-stroke: 1px white;
  // text-shadow:
  //   3px 3px 0 #000;
  font-size: 28px;
}

.icon_resize {
  height: 50px;
}

footer {
  background: url(https://s3-us-west-2.amazonaws.com/entrypics/brightonLakeTreesFooter.jpg);
	background-color: rgba(0,0,0,1);
	width:100%;
	height:auto;
  border-top: 1px solid black;
  // border-radius: 10px 10px 0px 0px;
}

@import "materialize";
