body {
  background: url(https://s3-us-west-2.amazonaws.com/entrypics/bwHogumS.jpg
  ) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.center-horizontal {
  display:inline-block;
  position: relative;
  margin: 0 auto;
}

.bigTitle {
  font-size: 80px;
  -webkit-text-stroke: 1px white;
  color: white;
  text-shadow:
    3px 3px 0 #000,
    /* Simulated effect for Firefox and Opera
       and nice enhancement for WebKit */
   -1px -1px 0 #000,
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;
  font-family: "cloudy";
  margin-top: 25px;
  background-color:hsla(36,75%,25%,0.5);
  // color: hsla(322,95%,55%,0.7);
  padding: 15px 60px;
  border-style: solid;
  border-radius: 30px;
  border-width: 6px;
  border-color: green;
}

.back {
  background-color: black;
  padding: 3px 10px;
  border-radius: 10px;
}
.capitalize {
  text-transform: capitalize;
}
