@font-face {
  font-family: "Hydrophilia_otf";
  src: url(/assets/Hydrophilia_Liquid.otf) format("truetype");
}
// @font-face {
//   font-family: "ArchivoBlack-for-Web";
//   src: url(/assets/ArchivoBlack-for-Web.otf) format("truetype");
// }
body {
  background: url(bwHogum.jpg
  ) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-size: 80px;
  -webkit-text-stroke: 1px black;
  color: white;
  text-shadow:
    3px 3px 0 #000,
    /* Simulated effect for Firefox and Opera
       and nice enhancement for WebKit */
   -1px -1px 0 #000,
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;
}

.center-horizontal {
  display:inline-block;
  position: relative;
  margin: 0 auto;
}

.framedTitle {
  border: 20px solid #ccb089;
	border-image-source: url('wooden_frame.jpg');
	border-image-slice: 50 65;
}

.bigTitle {
  font-family: "Hydrophilia_otf";
  margin-top: 25px;
  background-color:hsla(36,75%,25%,0.5);
  // color: hsla(322,95%,55%,0.7);
  padding: 15px 60px;
  border-style: solid;
  border-radius: 30px;
  border-width: 6px;
  border-color: green;
}

.back {
  background-color: black;
  padding: 3px 10px;
  border-radius: 10px;
}
.capitalize {
text-transform: capitalize;
}
