// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// home page css
.outlineTitle {
  -webkit-text-stroke: 1px white;
  font-size: 68px;
}

.blackOutline {
  -webkit-text-stroke: 1px black;
  font-size: 68px;
}

#backGroundColor1 {
  background-color: rgba(255, 26, 26, 1);
}

#backGroundColor2 {
  background-color: #E4FF1A;
}

#backGroundColor3 {
  background-color: #6EEB83;
}

// resume page css

#triangle-topright {
	width: 0;
	height: 0;
	border-top: 100px solid red;
  border-left: 100px solid transparent;
}
