%footer.page-footer.green
  .container
    .row
      .col.l7
        %h4.white-text Cats_on_Peaks' Author
        %p.white-text#tab Corey Rugino is an avad outdoors enjoyer and likes to try anything once. After moving out west from New York and building ski lifts for years, went back to learn about coding and get serious about starting a caree and not just another job. Hope you enjoyed my site.
      .col.l4
        %h5.white-text.center Links
        %ul
          %li.center
            %a.grey-text.text-lighten-3{:href => 'http://linkedin.com/in/coreyrugino', :target => '_blank'} LinkedIn
          %li.center
            %a.grey-text.text-lighten-3{:href => 'http://github.com/coreyrugino', :target => '_blank'} GitHub
          %li.center
            %a.grey-text.text-lighten-3{:href => "mailto:CoreyRugino@Gmail.com"} E-Mail
  .footer-copyright
    .container
      .row
        .col.l7.valign-wrapper
          %p.valign © 2016 Copyright
        .col.l4.center.valign-wrapper
          %p.valign Cats_on_Peaks
