.navbar-fixed
  %nav.green
    .nav-wrapper
      %a.brand-logo.center Cats_On_Peaks
      %ul#nav-mobile.left.hide-on-med-and-down
        %li
          %a{:href => '/'} Home
        %li
          %a{:href => '/dashboard/index'} Adventure
