.navbar-fixed
  %nav.backgroundColor
    .nav-wrapper
      %a.brand-logo.center#nav-stroke Cats_On_Peaks
      %ul#nav-mobile.left.hide-on-med-and-down
        %li
          %a.outline{:href => '/'} Home
        %li
          %a.outline{:href => '/dashboard/index'} Adventure
      %ul#nav-mobile.right
        %li
          -if user_signed_in? == true
            =link_to "Log Out", destroy_user_session_path, method: :delete
          -else
            =link_to "Log In", new_user_session_path
